body {
   font-family: Roboto,Arial, sans-serif;
   font-size: 16px;
   word-spacing: 5px;
   line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Roboto,Arial, sans-serif;
}

.tnhn-content h1 {
   text-align: center!important;
}

.tnhn-content h1 span{
   font-family: Arial;
   font-size: 26px;
   font-weight: 700;
   color: #0ee3e4;

}

main {
   min-height: 433px;
}

footer {
   clear: both;
   z-index: 10;
   border-top: 1px solid #CCC;
   width: 100%;
   min-height: 250px;
   background-color: #404c5a;
   bottom: 0;
}

/* Loading */
#loading-container {
   /*display: none;*/
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   width: 100%;
   height: 100%;
   background: #FFF;
}

.info-footer {
   margin-top: 30px;
}

.intro-footer {
   
   font-family: Roboto, sans-serif;
}
 
.icon-footer {
   color: #fff;
   float: right;
   padding: 70px 0;
   text-align: center!important;
}

@media(max-width: 767px) {
   .icon-footer {
      float: none;
   }
}

.icon-footer li b {
   float: left;
   padding-right: 10px;
   padding-top: 10px;
}

.icon-footer li {
  position: relative;
  list-style: none;
  float: left;
  width: 90px;
}



@media(max-width: 409px) {
   .icon-footer li {
     width: 68px;

   }
   .icon-footer li a img{
     float: right;
     margin-left: 25px;
   }
   .icon-footer li b {
     display: none
   }

   .icon-fb {
      margin-right: 5px;
   }
}

.icon-footer li a img {
   width: 70%;
}

.icon-fb {
   width: 50%!important;
   margin-left: 10px;
}

.icon-title {

}

address p {
   color: #fff;
}



/* Questions */
.questions, .answers {
   list-style: none;
   margin: 0;
   padding: 0;
}
.questions li h3 {
   margin-bottom: 15px;
   font-size: 16px;
}
.questions li ul.answers {
   margin-left: 15px;
   font-size: 12px;
}
.questions li ul.answers li {
   margin: 10px 0;
   cursor: pointer;
}
.questions li ul.answers li.active {
   font-weight: bold;
   color: #f04124;
}


/* TNHN content */
.tnhn-content {
   width: 100%;
}
.tnhn-content img {
   width: 100%;
   max-width: 950px;
   height: auto;
}



/* history style */
.answer-right, .answer-wrong {
   font-weight: bold;
}
.answer-right {
   color: green;
}
.answer-wrong {
   color: #f04124;
}




/* chart */
.chart h2 {
   margin: 5px 0 10px;
   font-size: 1.4em;
}
.chart-no-1 td:first-child, .chart-no-1 h2 {
   font-size: 1.7em;
   color: #f04124;
   font-weight: bold;
}
.chart-no-2 td:first-child, .chart-no-2 h2 {
   font-size: 1.6em;
   color: #43ac6a;
   font-weight: bold;
}
.chart-no-3 td:first-child, .chart-no-3 h2 {
   font-size: 1.5em;
   color: #e99002;
   font-weight: bold;
}
.chart p {
   color: #777;
}

/**Custom css**/

.tnhn-title {
   font-family: Arial, sans-serif;
   font-size: 21px;
   margin-top: 0;
   line-height: 1.5em;
   font-weight: bolder;
   word-spacing: 0px;
}
@media(min-width: 1200px){
   .tnhn-title span {
      padding: 15px;
   }
}

@media(min-width: 379px) and (max-width: 444px){
   .tnhn-title span {
      padding: 15px;
   }
}


.tnhn-date {
   font-family: Arial, sans-serif;
   font-size: 12px;
   word-spacing: 1px;
}

.navbar {
   min-height: 100px;
   background-color: #404c5a;
}

.navbar-header, .navbar-collapse {
   /*margin-top: 25px;*/


}

.navbar-nav li a {
   background-color: #404c5a;
   padding: 40px 15px!important;

}

.navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:focus {
   background-color: #1a3148!important;
}

.btn-action {
   text-align: center;
   padding: 20px;
}

.alignnone {
   margin-bottom: 20px;
}

.logo img {
   float: left;
   max-width: 200px;
   padding: 34px 30px 35px 0!important;
}

.navbar-brand {
   padding: 38px 15px;
}

@media(max-width: 767px) {
   .navbar-toggle {
      margin-top: 34px;
   }
}

@media(max-width: 430px) {
   .logo img {
       float: left;
       max-width: 100%;
       padding: 35px 30px!important;
   }
}

.owm-desc {
   color: #928e8e;
   font-weight: 400;
   line-height: 1.1em;
   word-spacing: 1px;
   font-style: italic;
}

/** Button **/

.btn-action {
   padding: 20px 0!important;
}

.btn-primary {
   font-weight: 700;
   text-align: center;
   padding: 10px 10px 10px 10px;
   border-radius: 2px;
   border-color: rgba(122,231,245,1)!important;
   background: rgba(122,231,245,1);
   background: -moz-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122,231,245,1)), color-stop(100%, rgba(21,220,230,1)));
   background: -webkit-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: -o-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: -ms-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: linear-gradient(to right, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ae7f5', endColorstr='#15dce6', GradientType=1 );
   -webkit-box-shadow: -5px 13px 42px 0px rgb(143, 244, 247);
   -moz-box-shadow: -5px 13px 42px 0px rgb(143, 244, 247);
   box-shadow: -5px 13px 42px 0px rgb(143, 244, 247);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
   border-radius: 2px;
   border-color: rgba(122,231,245,1)!important;
   background: rgba(122,231,245,1);
   background: -moz-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(122,231,245,1)), color-stop(100%, rgba(21,220,230,1)));
   background: -webkit-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: -o-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: -ms-linear-gradient(left, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   background: linear-gradient(to right, rgba(122,231,245,1) 0%, rgba(21,220,230,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ae7f5', endColorstr='#15dce6', GradientType=1 );
}