<div class="container" style="margin-bottom: 50px; margin-top: 50px;">

   <div class="row">
      <!-- <div class="col-sm-1 col-md-1 col-lg-1"></div> -->

      <div class="col-sm-4 col-md-4 col-lg-4" style="float: right;">
         <h3 class="tnhn-title">{{homeCtrl.tnhn.title | filterTitle}}</h3>
         <hr>
         <div style="margin:30px auto;">
            <audio style="width: 100%;" src="{{helpers.trustSrc(homeCtrl.tnhn.src)}}" controls></audio>
         </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
         <div ng-bind-html="homeCtrl.tnhn.content" class="tnhn-content"></div>
         <div class="btn-action" ng-if="!alreadyDone">
            <button type="button" class="btn btn-primary" ui-sref="quiz">LÀM TRẮC NGHIỆM NGAY!</button>
         </div>
      </div>

      <!-- <div class="col-sm-1 col-md-1 col-lg-1"></div> -->
   </div>

</div>


